* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.container {
  max-width: 75%;
  margin: auto;
  height: 80vh;
  margin-top: 5%;
  background: #94BF9D;
  box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.3);
}

.left, .right {
  width: 50%;
  padding: 20px;
}
.left {
  padding-top: 60px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex1 {
  display: flex;
}

.container img {
  width: auto;
  height: auto;
  top:10;
}

.option img {
  width: 75px;
  height: 75px;
  padding: 10px;
}

.right {
  padding: 50px 100px 50px 50px;
}

h2 {
  color: white;
  margin: 20px 0 10px 0;
  font-size: 25px;
}

p,
small {
  color: white;
}

h4 {
  color: red;
}

p {
  margin: 20px 0 50px 0;
  line-height: 25px;
}

h5 {
  font-size: 15px;
}

label,
.add span {
  width: 25px;
  height: 25px;
  background: #ffffff;
  border-radius: 50%;
  margin: 0px 10px 20px 0;
}

.color span:nth-child(2) {
  background: #EDEDED;
}

.color span:nth-child(3) {
  background: #D5D6D8;
}

.color span:nth-child(4) {
  background: #EFE0DE;
}

.color span:nth-child(5) {
  background: #AB8ED1;
}

.color span:nth-child(6) {
  background: #F04D44;
}

.add label,
.add span {
  background: none;
  border: 2px solid rgb(254, 252, 252);
  color: rgb(254, 251, 251);
  text-align: center;
  line-height: 25px;
}

.add label {
  padding: 10px 30px 0 20px;
  border-radius: 50px;
  line-height: 0;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background: black;
  color: white;
  margin-top: 20%;
  border-radius: 30px;
}

@media only screen and (max-width:768px) {
  .container {
    max-width: 90%;
    margin: auto;
    height: auto;
  }

  .left, .right {
    width: 100%;
  }

  .container {
    flex-direction: column;
  }
}

