
.box{
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.box img {
    max-width: 100%;
    max-height: 100%;
}

.decorative-title{
    font-size: 26px;
    color: #333;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.form-group{
    width: 350px;
}
.form-text label
{
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.form-text button
{
    margin-top: 15px;
}

.btn {
    padding: 0.5rem 1rem !important;
  }
.container-highlight {
    
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    
  }


